@media screen and (min-width: 1024px) {
    .jumbotron {
        background-image: url('../../assets/wood-stack.jpg');
    }
}

@media screen and (max-width: 1023px) {
    .jumbotron {
        background-image: url('../../assets/wood-stack-low.jpg');
    }
}

.jumbotron .title {
    color: white;
    display: flex;
    flex-direction: column;
}

.jumbotron .hero-body {
    background-color: #00000080;
}